* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body, html {
    height: 100%;
}
body {
    overflow-x: hidden;
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Lato', sans-serif;
}
div, form {
    border-radius: .25em;
}
h1, h2, h3, h4 {
    margin: 20px 0px;
    /*font-family: 'Neuton', serif;*/
    font-family: 'Merriweather', serif;
    font-weight: 400;
}
.width {
    width: 100%;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
#navToggleOpen {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1;
}
#skipContainer {
    position: fixed;
    right: 0px;
    top: 50%;
}
#sidebar {
    position: fixed;
    background: #fff;
    padding: 10px 20px;
    z-index: 3;
}
#fadeBack {
    background: #000;
    position: fixed;
    z-index: 2;
    display: none;
    opacity: .8;
}
.section {
    height: 100%;
    min-height: 100%;
    padding: 50px;
    width: 100%;
}
