* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body {
    overflow-x: hidden;
}
div, form {
    border-radius: .25em;
}
.width {
    width: 100%;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
#navToggleOpen {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1;
}
#skipContainer {
    position: fixed;
    right: 0px;
    top: 50%;
}
#sidebar {
    position: fixed;
    background: #fff;
    padding: 10px 20px;
    z-index: 3;
}
#fadeBack {
    background: #000;
    position: fixed;
    z-index: 2;
    display: none;
    opacity: .8;
}
